<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="SaleMarkaz" connectionString="Data Source=factory;Initial Catalog=sale_markaz_1394;Password=H2389*x;Persist Security Info=True;User ID=saleadmin;" providerName="System.Data.SqlClient" />
    <add name="Sale" connectionString="Data Source=192.168.30.254;Initial Catalog=SaleTabriz1394;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="SaleCore" connectionString="Data Source=factory;Initial Catalog=SaleCore;Password=H2389*x;Persist Security Info=True;User ID=saleadmin;Connection Timeout=1000" providerName="System.Data.SqlClient" />
    <!--<add name="SaleCore" connectionString="Data Source=dc;Initial Catalog=SaleCore;Integrated Security=True;Connection Timeout=1000" providerName="System.Data.SqlClient" />-->
    <add name="UM" connectionString="Data Source=192.168.30.254;Initial Catalog=UsersManagements;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>